.nav-item{
  padding:2px;
  margin-left: 5px;
}

.bg-dark{
  background-color: #004f6bfa!important;
}

#Logoid{
height: 50px;
width: 135px;
}

#prfileicon{
font-size:60px;
color:#c9e0e8;
/* padding-left: 123px; */
}

#prfileicon:hover{
color:white; 
}
#drpdnmenu{
background-color:  white;
min-width: 7rem;
font-size: 13.5px;    
padding: 0.5rem 0;
margin: 0rem 0 0;
/* margin-left: 138px; */
}

#drpdnitm1{
background-color: white;
}
#drpdnitm1:hover{
background-color: rgb(221, 218, 218);
}

#drpdnitm2{
background-color: white;
}

#drpdnitm2:hover{
background-color: rgb(221, 218, 218);
}

/*.navbar-dark .navbar-nav .nav-link {
color: rgb(255 255 255 / 96%);
}*/

/*.dropdown-item{
padding-left: 10px;
padding-right: 10px;
}*/